# Configure the flake8 code style checker. Note this must be in INI style
# (see https://flake8.pycqa.org/en/latest/). To run the flake8 checker with
# this configuration, simply execute 'flake8' under the root of the repo.

[flake8]
ignore =
# Incompatible with PEP8 which we want to abide by
    W503
